/* src/app/[locale]/(protected)/blog-management/_components/BlogPostDetail.module.css */
.blogPost {
  /* Base styles for the blog container */
}

.blogPost :global(.article-content) li p {
  margin: 0 !important;
}

.blogPost :global(.article-content) figcaption {
  text-align: center;
}

.blogPost :global(.article-content) blockquote p:first-child::before,
.blogPost :global(.article-content) blockquote p:first-child::after {
  content: unset;
}

.blogPost :global(.article-content) pre {
  position: relative;
  background-color: hsl(224 19% 97%);
  padding-block: 1rem;
  overflow-x: auto;
}

.blogPost :global(.article-content) pre code {
  padding-inline: 1.25rem;
  display: block;
  width: fit-content;
  min-width: 100%;
  font-size: 90%;
  line-height: 1.7;
}

/* Dark mode styles */
:global(html[data-mode="dark"]) .blogPost :global(.article-content) pre {
  background-color: hsl(224 14% 16%);
}

:global(html[data-mode="dark"])
  .blogPost
  :global(.article-content)
  pre
  code
  .line
  span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
